html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$font-family-base: Roboto;
$primary-web-color: #ff6600;

// background shape
.background-banner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%, 0% 100%);
  background-image: url("/img/banner1.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 60%;
  height: 450px;

  .gradient-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    background: rgb(62, 62, 62);
    background: radial-gradient(
      circle,
      rgba(62, 62, 62, 1) 35%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    opacity: 0.7;
  }
}

// rounded
.rounded-form {
  border-radius: 20px !important;
}

// ellipsis
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

// pagination
.basic-pagination {
  font-family: $font-family-base;
  display: flex;

  li {
    list-style: none;
    border-radius: 4px;
    min-height: max-content;
    text-decoration: none;
    padding: 0 8px;

    &.active {
      background-color: $primary-web-color;
      color: white;
    }

    a {
      border: none;
      color: black;
      border-radius: 4px;
      text-decoration: none;
    }

    &.previous {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

// bootstrap
nav {
  .navbar-nav {
    .nav-item {
      margin: 0 8px;
      .nav-link {
        color: white !important;
        padding: 4px 0 !important;
      }
    }
    .active {
      border-bottom: 3px solid white;
    }
  }
}

$primary: $primary-web-color;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap.scss";
@import "react-loading-skeleton/dist/skeleton.css";
